body{
    font-size: 12px;
    height: 600px;
    background-color: pink;
}

img{
    
    width: 50px;
}

table, th, td
{
    border: 1px solid white;
}
table, tr, td
{
    border: 1px solid pink;
}

.game{
    
    width: 500px;
    height: 400px;
    float: left;
    background-color: #FEFEFE;
   
}

#sun{
    padding: 0%;
    position: absolute; 
    width: 51px;
    height: 51px;
    float: right;
    /* border: 1px solid red; */
}

.control{
    width: fit-content;
    margin: 5px 190px;
    border: 3px solid white;
    float: left;
}

.cssDriver{
    position: relative;
    width: 500px;
    height: 400px;
    background-color: papayawhip;
    float: left;
}
/* sufu */
.content{
    width: 126px;
    height: 156px;
    padding: 0px;
    float: left;
    border: 1px solid red;
    background-color: white;
}
.content02{
    width: 400px;
    height: 400px;
    padding: 0px;
    float: left;
    border: 1px solid red;
    background-color: white;
}
.navi{
    width: 21px;
    height: 156px;
    padding: 0px 0px;
    float: left;
    margin-left: 1px;
    /* border: 1px solid red; */
}
.navi ul{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}
.navi li{
    border-radius:3px;
    list-style-type: none;
    margin-top: 2px;
    height: 45px;
    width: 21px;
    float: left;
    text-align: center;
    padding-top: 5px;
    background-color: silver;
}
.zs,.rz{
    margin-left: 2px;
    width: 100px;
    height: 156px;
    /* background-color: silver; */
    /* border: 1px solid red; */
    float: left; 
}
.rz{
    display: none;
}
.zs ul,.rz ul{
    margin: 2px 0px;
    padding: 0px;
    margin-left: 0px;
    float: left;
}
.zs ul li,.rz ul li{
    
    height: 19px;
    padding-left: 2px;
    /* border: 1px solid red; */
    list-style-type: none;
}
